.form-group {
  .form-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}

.form-content label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  color: lighten($color-dark, 30);
}

.input {
  padding-left: 10px;
  width: calc(100% - 10px);
  border-radius: 4px;
  border: none;
  background: darken($color-white, 10);
  color: $color-dark;
  outline: none;
  font-size: 16px;
  padding: 15px 20px;
}

.input:focus {
  background: darken($color-white, 20);
  box-shadow: 0 0 0 3px $color-secundary;
}

.help.is-danger {
  color: $color-red;
  font-weight: 700;
  margin-top: 5px;
}

.input.is-danger {
  box-shadow: 0 0 0 3px $color-red;
}
