$color-primary: #2575fc;
$color-secundary: #FFDD67;
$color-orange: #EBA352;
$color-red: #f56c6c;

$color-white: #fff;
$color-light: #e5e5e5;
$color-dark: #333333;
$color-grey: #A6A6A6;

$radius: 4px;
